html {
    font-family: sans-serif;
    text-align: center;
}

body {
    background-image: url("bgpic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}


/* a fade in animation */
@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



#square {
    width: 1000px;
    height: auto;
    margin: 110px 10px;
    padding: 30px;
    overflow: hidden;
    display: inline-block;
    background-color: rgba(250, 250, 250, 0.7);
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}

#words {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 2px cadetblue;
}

#dublinbikelogo {
    width: 100px;
    height: 60px;
    top: 0;
    z-index: 9999;
    position: fixed;
    left: 45%;
}


footer {
    color: white
}

#map {
    top: 20px;
    position: relative;
    margin: auto;
    height: 600px;
    width: 1000px;
}