<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="./static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="./static/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="./static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="./static/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="./static/images/favicon.png" />
  <script src="./static/js/echarts.min.js"></script>
  <script src="./static/js/echarts.all.js"></script>
  <script src="./static/js/jquery-3.4.0.min.js"></script>
  <script src="./static/js/station_map.js"></script>
  <script type="text/javascript">
      var lat0 = {{ lat0 }};
      var lng0 = {{ lng0 }};
  </script>
</head>
<body>
  <div class="container-scroller">
    <nav class="navbar  p-0 fixed-top d-flex flex-row" style="background: #ffffff">
      <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
          <a class="navbar-brand brand-logo" href="http://www.dublinbikes.ie" target="_blank"><img src="./static/images/bikelogo.png" alt="logo"/></a>
          <a class="navbar-brand brand-logo-mini" href="javascript:location.reload();"><img src="./static/images/logo-mini.svg" alt="logo"/></a>
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-sort-variant"></span>
          </button>
        </div>
      </div>
      <div class="tab-content py-0 px-0">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab" style="background: #ffffff; height: 60px">
          <div class="d-flex flex-wrap justify-content-xl-between">
<!--            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">-->
<!--&lt;!&ndash;              <i class="mdi mdi-download mr-3 icon-lg text-warning"></i>&ndash;&gt;-->
<!--              <div class="d-flex flex-column justify-content-around" style="align-items: center">-->
<!--                <small class="mb-1 text-muted"><bold>Station Name</bold></small>-->
<!--                <h5 class="mr-2 mb-0"><p id="station_name" style="font-size: 3px;">Dublin</p></h5>-->
<!--              </div>-->
<!--            </div>-->
            <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
              <i class="mdi mdi-calendar-heart icon-lg mr-3 text-primary"></i>
              <div class="d-flex flex-column justify-content-around">
                <small class="mb-1 text-muted">Last Update</small>
                <h5 class="mb-0 d-inline-block" id="last_update">26 Jul 2018 16 pm</h5>
              </div>
            </div>
            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
              <i class="mdi mdi-currency-usd mr-3 icon-lg text-danger"></i>
              <div class="d-flex flex-column justify-content-around" style="align-items: center">
                <small class="mb-1 text-muted">Available Stands</small>
                <h5 class="mr-2 mb-0" id="avaliable_stands"></h5>
              </div>
            </div>
            <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
              <i class="mdi mdi-eye mr-3 icon-lg text-success"></i>
              <div class="d-flex flex-column justify-content-around" style="align-items: center">
                <small class="mb-1 text-muted">Available Bikes</small>
                <h5 class="mr-2 mb-0" id="avaliable_bikes"></h5>
              </div>
            </div>
            <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
              <i class="mdi mdi-flag mr-3 icon-lg text-danger"></i>
              <div class="d-flex flex-column justify-content-around" style="align-items: center">
                <small class="mb-1 text-muted">Station Status</small>
                <h5 class="mr-2 mb-0" id="status"></h5>
              </div>
            </div>
            <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
              <i class="mdi mdi-weather-sunny mr-3 icon-lg text-danger">
              </i>
              <div class="d-flex flex-column justify-content-around" style="align-items: center">
                <small class="mb-1 text-muted">Weather Status</small>
                <h5 class="mr-2 mb-0" id="weather"></h5>
              </div>
            </div>
      </div>
    </div>
    <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab" style="background: #ffffff; height: 60px;">
      <div class="d-flex flex-wrap justify-content-xl-between">
<!--        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">-->
<!--          <i class="mdi mdi-download mr-3 icon-lg text-warning"></i>-->
<!--          <div class="d-flex flex-column justify-content-around" style="align-items: center">-->
<!--            <small class="mb-1 text-muted">Station Name</small>-->
<!--            <h5 class="mr-2 mb-0">Cork</h5>-->
<!--          </div>-->
<!--        </div>-->
        <div class="d-none d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
          <i class="mdi mdi-calendar-heart icon-lg mr-3 text-primary"></i>
          <div class="d-flex flex-column justify-content-around">
            <small class="mb-1 text-muted">Prediction Time</small>
            <div class="dropdown">
                <h5 class="mb-0 d-inline-block" id="pretime">-</h5>
            </div>
          </div>
        </div>
        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
          <i class="mdi mdi-currency-usd mr-3 icon-lg text-danger"></i>
          <div class="d-flex flex-column justify-content-around" style="align-items: center">
            <small class="mb-1 text-muted">Available Stands</small>
            <h5 class="mr-2 mb-0" id="prestands">-</h5>
          </div>
        </div>
        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
          <i class="mdi mdi-eye mr-3 icon-lg text-success"></i>
          <div class="d-flex flex-column justify-content-around" style="align-items: center">
            <small class="mb-1 text-muted">Available Bikes</small>
            <h5 class="mr-2 mb-0" id="prebikes">-</h5>
          </div>
        </div>
        <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
          <i class="mdi mdi-flag mr-3 icon-lg text-danger"></i>
          <div class="d-flex flex-column justify-content-around" style="align-items: center">
            <small class="mb-1 text-muted">Station Status</small>
            <h5 class="mr-2 mb-0" id="prestatus">-</h5>
          </div>
        </div>
        <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
          <i class="mdi mdi-weather-sunny mr-3 icon-lg text-danger"></i>
          <div class="d-flex flex-column justify-content-around" style="align-items: center">
            <small class="mb-1 text-muted">Weather Status</small>
            <h5 class="mr-2 mb-0" id="preweather">-</h5>
          </div>
        </div>
      </div>
    </div>
      </div>
    </nav>
    <!-- partial -->
      <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="javascript:location.reload();">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <div class="nav-link">
<!--              <i class="mdi mdi-circle-outline menu-icon"></i>-->
              <span class="menu-title" style="font-size: 10px;">
                Station:
                <select class="menu-title" id="location1" required onchange="{showprediction();singleshow();getgraphdata();adaptgraph()}" style="font-size: 6px;width: 180px;">
                    <option value="ALL" selected>ALL STATIONS</option>
                    {% for name in station_name %}
                    <option value="{{name}}">{{name}}</option>
                    {% endfor %}
                </select>
              </span>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <i class="mdi mdi-timetable icon-lg mr-3 text-primary"></i>
              <span class="menu-title">
                <h5 id="datetime"></h5>
              </span>

            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
                <span class="menu-title">
                    <h6>Use DublinBike at <br><br>
                        <select id="selecttime" onchange="getgraphdata();showprediction();adaptgraph()">
                    </select>
                    </h6>
                </span>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <i class="mdi  menu-icon"></i>
              <a class="menu-title" href="https://www2.hse.ie/conditions/coronavirus/coronavirus.html">
                <img src="./static/images/covid19.webp" style="width: 100%; height: 100%">
              </a>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <i class="mdi  menu-icon"></i>
              <a class="menu-title" href="http://www.dublinbikes.ie/">
                <img src="./static/images/dublinbike.jpg" style="width: 100%; height: 100%">
              </a>
            </div>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <i class="mdi  menu-icon"></i>
              <a class="menu-title" href="https://www.irishtimes.com/">
                <img src="./static/images/irishtime.png" style="width: 100%; height: 100%">
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
          <div class="row" >
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body dashboard-tabs p-0">
                  <ul class="nav nav-tabs px-4" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Present Situation</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="sales-tab" data-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="false" onclick="showprediction()">Prediction at Selected Time</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body" id="map" style="height: 550px; align-content: center">
<!--                  <script src="./static/js/station_map.js"></script>-->
                  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Bqco2DvRVp55QdFyANIiDRSKS8IE8p8&callback=initMap&callback=initMap" async defer></script>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="row">
            <div class="col-md-5 grid-margin stretch-card" style="padding: 0 0 0;">
              <div class="card">
                <div class="card-body">
                  <h5 class="mb-4" id="h51">The usage situation in each weekday according to the historical data.</h5>
                  <div id="figure1" style="width: 350px; height: 400px;"></div>
                </div>
              </div>
            </div>
            <div class="col-md-7 grid-margin stretch-card" style="padding: 0 0 0">
              <div class="card">
                <div class="card-body">
                  <h5 class="mb-4" id="h52">The usage situation along the daily time in a particular day according to the historical data.</h5>
<!--                  <div id="total-sales-chart-legend"></div>-->
<!--                    <canvas id="total-sales-chart"></canvas>-->
                  <div id="figure2" style="width: 550px; height: 400px;"></div>
                </div>
              </div>
            </div>
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer"style="padding: 12px 12px">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright &copy; 2020.Group SE26. COMP30830. All rights reserved.More Templates </span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
      </div>
    <!-- page-body-wrapper ends -->
    </div>

  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="./static/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="./static/vendors/chart.js/Chart.min.js"></script>
  <script src="./static/vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="./static/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="./static/js/off-canvas.js"></script>
  <script src="./static/js/hoverable-collapse.js"></script>
  <script src="./static/js/template.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="./static/js/dashboard.js"></script>
  <script src="./static/js/data-table.js"></script>
  <script src="./static/js/jquery.dataTables.js"></script>
  <script src="./static/js/dataTables.bootstrap4.js"></script>
  <!-- End custom js for this page-->
<script type="text/javascript"t>
      window.onload = function (){loadtime();adaptgraph()}//setInterval('showtime()',1000);
      function loadtime() {
          setInterval('showtime()',1000);
          var stime = new Date();
          var seltime = document.getElementById("selecttime");
          for (let i=0; i<=24; i++){
              // let time = new Date();
              var time = new Date(stime.getTime()+1000*60*60*(1+i));
              var showtime = (time.getFullYear()+'/' + parseInt(time.getMonth()+1)+ '/' + time.getDate() + " "+ time.getHours() + ':00:00' );
              seltime.options.add(new Option(showtime,showtime));
              //stime.toLocaleString('england',{ hour12: false }),stime.toLocaleString('england',{ hour12: false })));
          }
      }
      function showtime(){
          // = dt.toLocaleString('england',{ hour12: false });
          var dt = new Date();
          dt.pro
          document.getElementById("datetime").innerHTML = dt.toLocaleString('england',{ hour12: false });
      }

      function adaptgraph() {
        if ($("#location1").val() == 'ALL'){
            document.getElementById("row").style.display = "none";
            document.getElementById("map").style.height = "1000px";
        }
        else{
            document.getElementById("row").style.display = 'inherit';
            document.getElementById("map").style.height = '550px';
        }
      }
  </script>
</body>

</html>

